@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Core Backgrounds */
  --pf-bg: #1A111A;
  /* Deepest Obsidian Plum */
  --pf-card: #251825;
  /* Mid-Plum Card */

  /* Brand Accents */
  --pf-purple: #800080;
  /* Signature Border / Neon */
  --pf-copper: #D48166;
  /* Glowing Digital Half / Titles */
  --pf-cyan: #00ADB5;
  /* Data Labels / Electric Spark */

  /* Text */
  --pf-white: #E2E8F0;
  /* Frost White (Dates) */
  --pf-lavender: #E6E0EB;
  /* Soft Lavender (Body Text) */
}

h1 {
  color: var(--pf-lavender);
  text-align: center;
  margin: 1rem;
  font-size: 1.25rem;
}

body {
  background-color: var(--pf-bg);
}