h1 {
    color: var(--pf-copper);
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

select {
    width: 15vw;
    background-color: var(--pf-card);
    border: 1px solid var(--pf-purple);
    color: var(--pf-white);
    scrollbar-color: var(--pf-purple);
}

option {
    background-color: var(--pf-bg);
    border: 1px solid var(--pf-purple);
}

option:active,
option:hover,
option:focus {
    background-color: var(--pf-cyan);
    color: var(--pf-bg);
}

.card {
    width: 30vw;
    height: 30vh;
    color: var(--pf-cyan);
    font-size: 1.2rem;
}

.card span {
    color: var(--pf-lavender);
}

.saveBtn{
    display: flex;
    justify-content: center;
    padding: .2rem;
}