@import "tailwindcss";

h1{
    color: var(--pf-lavender);
}

.card {
    @apply w-1/5  p-2 rounded-2xl border-2 border-indigo-500;
    background-color: var(--pf-card);
    border: 1px solid var(--pf-purple);
    box-shadow: 2px 2px 10px 1px var(--pf-purple);
}

#cDay{
    color: var(--pf-white);
}

.cInf{
    color: var(--pf-cyan);
}

span{
    color: var(--pf-lavender);
}